// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Kenalin font
$fa-font-path:"../webfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Kenalin bootstrap css
@import 'admin-lte/dist/css/adminlte.css';
// Kenalin fontawesome 
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';

// Kenalin Kelas Aktif 
.router-link-exact-active{
    background-color: rgb(47, 49, 49);
    color: bisque !important;
    font-style: italic;
    font-weight: bold;
}
// End